body  
{  
    background: url("Ordnungsamt/resources/img/Ordnungsamt-Mitte-Wedding-Tiergarten-Berlin.png");
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}  
#loginForm{  
        width: 382px;  
        overflow: hidden;  
        margin: middle;  
        margin: 300 0 0 850px;  
         
        background: #0099CC;  
        border-radius: 15px ;  
          
}  
  
#userid{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 50px;  
}  
#pwd{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
  
}  
