body {
  font-family: Arial;
  max-width: 900px;
  margin: auto;
}

h1 {
  text-align: center;
}

select {
  margin-bottom: 15px;
}

#calendar {
  margin-top: 20px;
  min-height: 600px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

